
/* vertical line */


.vertical-line {

  position: relative;
	// width: 80%;
	margin: auto;
	overflow: hidden;


  .cf:before, .cf:after {
  	content: " ";
  	display: table;
  }

  .cf:after { clear: both; }
  .cf { *zoom: 1;
  }

  &:after {
  	content:" ";
  	width:1px;
  	background:#fff;
  	position:absolute;
  	z-index:1;
  	top:0;
  	bottom:0;
  	left:50%;
  }
  .fl { float:left; }
  .fr { float:right; }
  .block {
  	width:50%;
  	position:relative;
  	padding:0 50px 0 0;
  	clear:both
  }
  .fr { padding:0 0 0 50px; }
  .circle {
  	width:50px;
  	height:50px;
  	border-radius:50%;
  	background:_palette(circle);// rgba(255, 255, 255, 0.125);
  	float:right;
  	margin-right:-85px;
  	margin-top:1em;
  	position:relative;
  	z-index:2;
  }
  .fr .circle {
  	float:left;
  	margin-left:-85px
  }
  .circle.first:before,.circle.last:before{
  	content:" ";
  	position:absolute;
  	width:4px;
  	left:50%;
  	margin:0 0 0 -2px;
  	background: _palette(border);
  	bottom:100%;
  	height:99em;
  	z-index:3;

  }
  .circle.last:before{
  	bottom:auto;
  	top:100%;
  }
}
